<html>
    <head>
        <title>Acerca de</title>
    </head>
    <body>
        <header>
            <h1>Aplicación CRUD para administrar alumnos.</h1>
        </header>
        <main>
            <p>Hecho con las siguientes tecnologías:</p>
            <h2>Frontend:</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
            <h2>Backend:</h2>
            <ul>
                <li>Node.JS</li>
                <li>Express.JS</li>
                <li>MongoDB</li>
            </ul>
            <footer>
                <p>Ver mis otros proyectos:</p>
                <a href="https://github.com/eddygurod1102" target="_blank">
                    <img src="../img/github-mark.png" alt="Logo de GitHub">
                </a>
            </footer>
        </main>
    </body>
</html>