<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/AddStudent.css">
        <title>Alumnos</title>
    </head>

    <body>
        <main>
            <div id="container">
                <div id="container2">
                    <form>
                        <p>Nombre</p>
                        <input type="text" placeholder="Inserte un solo nombre" id="first" autocomplete="off">
                        <br><br>
                        <p>Apellido</p>
                        <input type="text" placeholder="Inserte un solo apellido" id="last" autocomplete="off">
                        <br><br>
                        <p>Matrícula</p>
                        <input type="text" placeholder="Inserte la matrícula" id="student_id" autocomplete="off">
                        <br><br>
                        <p>Carrera</p>
                        <input type="text" placeholder="Inserte la carrera" id="carreer" autocomplete="off">
                    </form>

                    <button id="agregarAlumno">Agregar estudiante</button>
                </div>
            </div>
        </main>
        <script src="../js/addStudent.js" type="module"></script>
    </body>
</html>